.button {
  padding: 0.7rem 0.9rem;
  font-size: 1.7rem;
  border-radius: 0.4rem;
  color: $primary-color;
  border: none;
  background: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    color: $secondary-color;
    background-color: $primary-color;
    transform: translateY(-.3rem);
  }

  &:active {
    transform: translateY(-.1rem);
    
  }
}
