.button {
  padding: 0.7rem 0.9rem;
  font-size: 1.7rem;
  border-radius: 0.4rem;
  background-color: $btn-bg-color;
  color: $btn-color;
  border: 0.3rem solid transparent;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $btn-bg-dark-color;
  }

  &:active {
    background-color: $btn-bg-color;
    border: 0.3rem solid rgba($btn-color, 0.5);
  }

  &:disabled {
    background-color: rgba($btn-bg-color, 0.5);
    cursor: not-allowed;
  }
}
