.contact__page {
  width: 100%;
  margin-top: 4rem;
  padding: 2rem 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__footer {
  width: 100%;
  margin: 3rem auto;
}
